--
-- PostgreSQL database dump
--

\restrict a0DuxzhsCE1YhBpQ4vnmby8ex5NfrQXl3zbcd6q5Fi1xVjhehzfgh5h5kbqeNaW

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_history; Type: TABLE; Schema: public; Owner: chatbot
--

CREATE TABLE public.chat_history (
    id integer NOT NULL,
    user_id integer,
    session_id character varying,
    sender character varying NOT NULL,
    message text NOT NULL,
    response text,
    "timestamp" timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chat_history OWNER TO chatbot;

--
-- Name: chat_history_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot
--

CREATE SEQUENCE public.chat_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chat_history_id_seq OWNER TO chatbot;

--
-- Name: chat_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: chatbot
--

ALTER SEQUENCE public.chat_history_id_seq OWNED BY public.chat_history.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: chatbot
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.users OWNER TO chatbot;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO chatbot;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: chatbot
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: chat_history id; Type: DEFAULT; Schema: public; Owner: chatbot
--

ALTER TABLE ONLY public.chat_history ALTER COLUMN id SET DEFAULT nextval('public.chat_history_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: chatbot
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: chat_history; Type: TABLE DATA; Schema: public; Owner: chatbot
--

COPY public.chat_history (id, user_id, session_id, sender, message, response, "timestamp") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: chatbot
--

COPY public.users (id, username, hashed_password, role) FROM stdin;
\.


--
-- Name: chat_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot
--

SELECT pg_catalog.setval('public.chat_history_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: chat_history chat_history_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot
--

ALTER TABLE ONLY public.chat_history
    ADD CONSTRAINT chat_history_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_chat_history_id; Type: INDEX; Schema: public; Owner: chatbot
--

CREATE INDEX ix_chat_history_id ON public.chat_history USING btree (id);


--
-- Name: ix_chat_history_session_id; Type: INDEX; Schema: public; Owner: chatbot
--

CREATE INDEX ix_chat_history_session_id ON public.chat_history USING btree (session_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: chatbot
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: chatbot
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: chat_history chat_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chatbot
--

ALTER TABLE ONLY public.chat_history
    ADD CONSTRAINT chat_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict a0DuxzhsCE1YhBpQ4vnmby8ex5NfrQXl3zbcd6q5Fi1xVjhehzfgh5h5kbqeNaW

